.avarar-hilder {
    top: 90px;
    bottom: revert;
    left: 46%;
}
.username {
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-size: 30px;
    position: absolute;
    left: 70%;
    bottom: 40%;
}
.roomCode {
    margin: 0;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    width: 33%;
}
.roomCode p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.name {
    border: 2px solid #7B72CC;
    width: 100%;
    margin-bottom: 10px;
    background: black;
    border-radius: 12px;
    height: 40px;
    color: white;
    font-weight: 500;
}
.btn {
    background: black;
    border: 1.65625px solid #7B72CC;
    border-radius: 43.4766px;
    text-align: center;
    padding: 6px;
    width: 45%;
    position: relative;
    left: 27%;
    color: white;
    margin-top: 25px;
}

.btn-disabled.btn {
    pointer-events: all;
    background: none;
    color: #B0B0B0;
}
.roomCode img {
    width: 20px;
    position: relative;
    bottom: 62px;
    left: 91%;
}