    .name {
        color: white;
        font-family: 'Neue Haas Grotesk Display Pro';
        font-style: normal;
        font-size: 30px;
        position: absolute;
        left: 70%;
        bottom: 40%;
        width: 100%;
    }

    .btn {
        background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
        border-radius: 50em;
        border: 2px solid transparent;
        text-align: center;
        padding: 6px;
        width: 19%;
        position: relative;
        left: 41%;
        color: white;
        bottom: -250px;
        margin-bottom: 20px;
        height: 35px;

    }

    .avarar-hilder {
        top: 90px;
        bottom: revert;
        left: 46%;
        width: 15%;
    }