/* You can add global styles to this file, and also import other style files */
.avatar {
    display: flex;
    position: absolute;
    bottom: 28%;
    left: 20%;
}
.avatar img{
    width: 60%;
    border-radius: 50%;
    border: 2px solid #7B72CC;
}
.container{
    position: relative;
    width: 100%;
    background: #141923;
    overflow: hidden;
    background-image: url('assets/images/Vector.png');
    height: 550px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
    }